buildSrc/libs
buildSrc/build/
buildSrc/es-knn-offline-repo-*
buildSrc/libKNNIndex*

.gradle/
build
.idea/*
!.idea/codeStyles/codeStyleConfig.xml
!.idea/copyright
.DS_Store
*.log
out/
oss/*
*.iml

jni/CMakeCache.txt
jni/CMakeFiles
jni/Makefile
jni/cmake_install.cmake
jni/release
jni/packages
jni/CTestTestfile.cmake
jni/KNNPlugin_JNI.cbp
jni/Testing/
jni/_deps/
jni/bin/
jni/lib/
jni/jni_test*
jni/googletest*
jni/cmake/*.cmake-e

benchmarks/perf-tool/okpt/output
benchmarks/perf-tool/okpt/dev
benchmarks/perf-tool/okpt/dataset/
benchmarks/perf-tool/okpt/!dataset/data.hdf5
benchmarks/**/__pycache__
benchmarks/**/.idea
benchmarks/perf-tool/okpt/*.py[cod]
benchmarks/perf-tool/okpt/*$py.class
benchmarks/perf-tool/okpt/lib/
benchmarks/perf-tool/okpt/bin
benchmarks/perf-tool/okpt/pyvenv.cfg
benchmarks/perf-tool/okpt/env/
benchmarks/perf-tool/okpt/venv/
benchmarks/perf-tool/okpt/.pytype/
